annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
greenlet
gunicorn
h11
idna
numpy
packaging
pandas
psycopg2-binary
pydantic
pydantic_core
python-dateutil
pytz
requests
six
sniffio
SQLAlchemy
starlette
typing_extensions
tzdata
urllib3
uvicorn
supabase
python-dotenv
pydantic[email]
jinja2